# Environments
.env
.venv
/.env
/.ENV
.env/
.ENV/
env/
ENV/
/env
/ENV
venv/
/venv
env.bak/
venv.bak/
/env.bak
/venv.bak

# Somethings
node_modules/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
