{% extends "base.html" %}

{% block page_title %}
Home
{% endblock page_title %}

{% block content %}
<div class="container mx-auto pb-10">
  <div class="rounded-xl mx-auto bg-gray-800 -mx-40 h-50vh mt-32 mb-24 bg-cover bg-center"
    style="background-image:url(https://images.unsplash.com/photo-1535189043414-47a3c49a0bed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80)">
  </div>

  <div class="flex flex-wrap -mx-40 mb-10">
    {% for room in rooms %}
    {% include 'mixins/room_card.html' with room=room %}
    {% endfor %}
  </div>

  <div class="flex items-center justify-center mx-auto container">
    {% if page_obj.has_previous %}
    <a href=" ?page={{page_obj.previous_page_number}}" class="text-teal-500">
      <i class="fas fa-arrow-left fa-lg"></i>
    </a>
    {% endif %}

    <span class="mx-3 font-medium text-extrabold">
      page{{page_obj.number}} of page {{page_obj.paginator.num_pages}}
    </span>

    {% if page_obj.has_next %}
    <a href="?page={{page_obj.next_page_number}}" class="text-teal-500">
      <i class="fas fa-arrow-right fa-lg"></i>
    </a>
    {% endif %}<br>
  </div>

</div>

<!-- {% for room in page.object_list %}
<h5>{{room.name}} / ${{room.price}}</h5>
{% endfor %}
<h5>
  {% if page.has_previous %}
  <a href="?page={{page.number|add:-1}}">Previous</a>
  {% endif %}
  page{{page.number}} of page{{page.paginator.num_pages}}
  {% if page.has_next %}
  <a href="?page={{page.next_page_number}}">Next</a>
  {% endif %}<br> -->

<!-- Paginator 방식 -->
<!-- {% for page in page.paginator.page_range %}
  <a href="?page={{page}}">{{page}}</a>
  {% endfor %}
</h5> -->

<!-- {% if page is not 1 %}
<a href="?page={{page|add:-1}}">Previous</a>
{% endif %}
page{{page}} of page{{page_count}}
{% if not page == page_count %}
<a href="?page={{page|add:1}}">Next</a>
{% endif %}<br> -->

<!-- 리스트 방식
{% for page in page_range%}
<a href="?page={{page}}">{{page}}</a>
{% endfor %} -->

{% endblock content %}

<!-- <h1>Wow</h1>
<h4>The time right now is: {{now}}</h4>
  <h5>
    {% if hungry %} I'm hungry {{hungry}} {% else %} I'm Okay{% endif %}
  </h5> -->